<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <form @submit.prevent="createOrder">
        
        <div>Email
          <input type="email" v-model="order.Email">
        </div>
        <div>Amt
          <input type="number" v-model.number="order.Amt">
        </div>
        <div>ItemDesc
          <input type="text" v-model="order.ItemDesc">
        </div>
        <button type="submit">click</button>
      </form>
    </div>
    <script type="module">
      import { createApp } from 'https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.37/vue.esm-browser.min.js';
      const host = 'http://localhost:3000/'

      const app = {
        data(){
          return {
            order:{
              Email:'cate50503@gmail.com',
              Amt:'1',
              ItemDesc:'商品名稱'
            }
          }
        },
        methods:{
          createOrder(){
            const url = '/createOrder'
            axios.post(url,this.order).then((result) => {
              console.log(result);
              window.location.href=`/check/?order=${result.data.TimeStamp}`
              
            }).catch((err) => {
              
            });
          }
        }

      }

      createApp(app).mount('#app')
    </script>
  </body>
</html>
