<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="https://core.spgateway.com/MPG/mpg_gateway" method="post">
      <input type="text" name="MerchantID" value="MS1621866880">
      <input type="hidden" name="TradeSha" value="D7A8D0B5D5EC6301D6142A1F18C463CAD065C7945935600D1B5E96FF43369C34">
      <input type="hidden" name="TradeInfo" value="9b8b6fdeb0bd0a308a26cddfe79a39bde92042873d1feb49d2d18b227a703ea5b89cea3320679345ed19b7d13437a94c78549998929e0bb927cf0cf3658f636b1e1fcb3e97506ef7931c4cc2ac8c6474f73486a8617d2a1dada346475d8426483981121751ae70a14ae784d636b33b4038e4a9e8ba3c2f717aee03f518e13e323eb728dd06a9a79d3d85b2f109b7d3b9365e8aedefcdfcbe0101659287f0f2c5">
      <input type="text" name="TimeStamp" value="1658056082">
      <input type="text" name="Version" value="1.5">
      <input type="text" name="MerchantOrderNo" value="1658056082">
      <input type="text" name="Amt" value="49">
      <input type="email" name="Email" value="cate50503@gmail.com">
      <button type="submit">送出</button>
    </form>
  </body>
</html>
